/* Globale Styles */
body {
    background-color: #f0f0f0;
    color: #333;
  }
  
  h1, h2, h3, p {
    margin: 0;
  }
 /* Überschriften */
#homeh1, #homeh2, h1, h2, h3 {
    font-family: 'Josefin Sans', cursive;
  }
  
  /* Normaler Text */
  body, p {
    font-family: 'Open Sans', sans-serif;
  }
  
  
  
  /* Header-Styles */
  header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Footer-Styles */
  footer {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Home-Styles */
  #home_section {
    padding: 20px;
  }
  
  #homeh1 {
    color: #3498db;
  }
  
  #homeh2 {
    color: #2980b9;
  }
  
  /* Contact-Styles */
  #contact_section {
    padding: 20px;
  }
  
  #contact_text {
    color: #3498db;
  }
  
  #contact_address {
    color: #2980b9;
  }
  
  #message_input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  
  #send_button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  /* Order-Styles */
  .customizable-item {
    border: 1px solid #3498db;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .ingredients-checklist {
    margin-bottom: 10px;
  }
  
  .ingredient-checkbox {
    margin-right: 5px;
  }
  
  .add-ingredient-btn,
  .submit-ingredients-btn {
    background-color: #3498db;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-ingredient-btn:disabled,
  .submit-ingredients-btn:disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
  }
  
  /* Selected Ingredients Styles */
  .selected-ingredients {
    margin-top: 10px;
  }
  
  .selected-ingredients div {
    background-color: #3498db;
    color: #fff;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .selected-ingredients button {
    background-color: #ff3333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor:cell;
  }
  
  /* Image Styles */
  #contact_image {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  